#db.postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changethis
POSTGRES_DB=web_app_db_pg
POSTGRES_HOST=web_app_db_pg
POSTGRES_PORT=5432

#uvicorn
UVICORN_HOST=0.0.0.0
UVICORN_PORT=8888

#structure
SRC_DIR=src
PYPROJECT_TOML=pyproject.toml